<div class="container__big-card">

    <div class="big-card__photo">
      <img
         src="https://th.bing.com/th/id/OIP.yqw2UI0QRwiCpjsE1ftGQQAAAA?pid=ImgDet&rs=1"
         alt=""
         height= "200px"
         search="">
    </div>
    <div class="big-card_title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
    <div class="big-card__description">
      <p>
        <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies
        libero non mi bibendum tristique. Pellentesque vel dui varius, vehicula lorem et,
        consectetur magna. Suspendisse sit amet ultrices turpis. Nullam tincidunt vestibulum pellentesque.
      </a>
    </p>
    </div>
</div>

