<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="container__small-card__photo">
      <img
         src="https://th.bing.com/th/id/R.e16530b5adf440f60b3e13a6ac8b5421?rik=TVVBdhNgDYzn3Q&pid=ImgRaw&r=0"
         alt=""
         height="200px"
         search="">
    </div>
    <div class="small-card__title">
      <h1>Saiu a nova versão do Angular</h1>
    </div>
  </div  >
   <div class="container__small-card__separator">
    <hr />
   </div>
</div>
