
<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles_main">
    <app-big-card photoCover="https://th.bing.com/th/id/OIP.82AqeFBMVlmvC60GDeHWswHaE0?pid=ImgDet&rs=1"
    cardTitle="Novidades Sobre a tecnologia"
    cardDescription="A rápida evolução tecnológica está moldando o mundo de maneira notável. O 5G continua a se expandir, prometendo conectividade ultrarrápida. "></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card photoCover="https://th.bing.com/th/id/R.b3ac4f679e1c99e2ce6c1f5ff9c6d109?rik=iOhjVdihq5oUzg&pid=ImgRaw&r=0" cardTitle="5G em Expansão em nosso dia a dia" ></app-small-card>
    <app-small-card photoCover="https://th.bing.com/th/id/OIP.TZz-9PxxWfXmmHrLx_GcwAHaE7?pid=ImgDet&rs=1" cardTitle="Privacidade e Segurança Cibernética" ></app-small-card>
    <app-small-card photoCover="https://th.bing.com/th/id/OIP.2TIjoFIoxiDSd4U4rFd8jwHaEB?pid=ImgDet&rs=1" cardTitle="Sustentabilidade e Energia Limpa" ></app-small-card>
  </div>
</div>
